body {
    background-color: lightgray;
    text-align: center;
}
title {
    text-align: center;
}
h1 {
    text-align: center;
    background-color: goldenrod;
    color: white;
    text-shadow: 2px 2px 4px white;
}
h2 {
    text-align: center;
    color: white;
}